* {box-sizing: border-box}

body { margin: 0 }

h1, h2, h3, h4, h5, h6 { font-weight: normal }

table
{
 border-collapse: collapse;
 border-spacing: 0
}

th, td
{
 text-align: left;
 vertical-align: top
}

img, iframe { border: 0 }

.showContent {
    display: block;
}

.hideContent {
    display: none;
}

.lift-sim-data__container {
    width: 500px;
    margin: 200px auto 0;
}

.lift-sim-data__container label {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

.lift-sim-data__container button {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: black;
}

.lift-simulator {
    display: flex;
    flex-flow: wrap;
    max-width: 700px;
    margin: 100px auto 0 auto;
}

.lift-simulator__floor {
    padding: 30px 10px;
    border: 1px solid black;
    width: 100%;
    margin-top: 5px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 0, 120);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lift-simulator__lift {
    width: 40px;
    height: 60px;
    background-color:rgb(50, 75, 20);
    border: 1px solid rgb(91, 211, 54);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: transform 2s;
}

.lift-simulator__floor--btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lift-simulator__floor--btn-up {
    margin-bottom: 5px;
}

.lift-simulator__floor--btn {
    background-color: rgb(90, 59, 245);
    color: white;
    cursor: pointer;
    font-weight: bold;
}